<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.lwn314.timingbrightness"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lwn314.timingbrightness.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.lwn314.timingbrightness.PickerActivity"/>

        <service android:name=".server.BrightnessServer"/>
        <service android:name="com.lwn314.timingbrightness.BrightnessController"/>
        <service android:name="com.lwn314.timingbrightness.AlarmClock"/>

        <receiver android:name="com.lwn314.timingbrightness.MyReceiver"/>
        <receiver android:name="com.lwn314.timingbrightness.AlarmReceiver"/>
    </application>

</manifest>
